body {
	width: 1020px;
	margin: 15px auto;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	vertical-align: middle;
}

div.header {
	width: 100%;
	text-align: center;
	padding: 0;	
	margin-bottom: 15px;
}

div.title {
	font-size: 24px;
}

div.by {
	margin-top: 10px;
	font-size: 11px;
}

div.footer {
	clear: both;
	margin-top: 15px;
	text-align: center;
	font-size: 11px;
}

div.input_entry_buttons {
	clear: both;
	width: 805px;
	position: relative;
	left: 200px;
	top: 0px;
	margin-bottom: 60px;
}

div.button {
/*	clear: both;*/
	float:left;
	border: 1px solid black;
	width: 150px;
	padding: 7px 0px;
	text-align: center;
	margin: 10px 0px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
/*	display: inline;*/
}

label {
	clear: both;
	float: left;
	width: 200px;
	vertical-align: middle;
}

input, textarea, select {
	float: left;
/*	vertical-align: middle;*/
}

input {
	width: 800px;
}

select {
	min-width: 300px;
}

textarea {
	width: 800px;
	height: 300px;
}

div.result {
/*	border: 1px solid red;
	width: 970px;
	padding: 15px;*/
	/*font-family: 'Courier New', Courier, monospace;*/
/*	font-size: 12px;*/
}

div.input_entry {
	padding: 15px 0;
/*	vertical-align: middle;*/
}

#form_result_textarea {
	clear: left;
	float: none;
	width: 1000px;
	height: 400px;
}
